@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  [x-cloak] {
    display: none !important;
  }
}

@layer components {
  .section-padding {
    @apply px-6 py-16 lg:px-40 lg:py-24;
  }

  .container-max {
    @apply max-w-[1440px] mx-auto;
  }
}
